on init
    mkdir /persist 0771 system system

on post-fs-data
#
# Connectivity related modules and character device nodes (Begin)
#

#/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

	insmod /system/lib/modules/mtk_wmt_detect.ko

	# Create char device file for WMT, GPS, BT, FM, WIFI
    mknod /dev/stpwmt c 190 0;
    mknod /dev/stpgps c 191 0;
    mknod /dev/stpbt  c 192 0;

    chmod 0660 /dev/stpwmt
    chown system system /dev/stpwmt
 
    mknod /dev/wmtWifi c 153 0
    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi

# BT
    chmod 0660 /dev/stpbt
    chown bluetooth radio /dev/stpbt

# GPS
    chown gps gps /dev/stpgps
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status
    chmod 0660 /dev/stpgps

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    chown wifi wifi /data/misc/wifi

# FM Radio device node
    mknod /dev/fm     c 193 0;
    chmod 0660 /dev/fm
    chown system media /dev/fm

#
# Connectivity related device nodes & configuration (end)
#


on boot

#
# Connectivity related services (Begin)
#
service wmt_loader /system/bin/wmt_loader
	user root
	group root
	oneshot

service 66xx_launcher /system/bin/6620_launcher -m 4 -p /system/etc/firmware/
    user system
    group system

#
# Connectivity related services (End)
#

# HTC SSD Peripheral UI - BEGIN

        #htc sensorhub
        chown system system /sys/class/htc_g_sensor/g_sensor/clear_powerkey_flag
        chmod 0660 /sys/class/htc_g_sensor/g_sensor/clear_powerkey_flag
        chown system system /dev/cwmcu
        chmod 0660 /dev/cwmcu

        # Motion Sensors ++
        chown system system /dev/iio:device0
        chown system system /sys/class/htc_sensorhub/sensor_hub/iio/buffer/enable
        chown system system /sys/class/htc_sensorhub/sensor_hub/iio/buffer/length
        chown system system /sys/class/htc_sensorhub/sensor_hub/iio/trigger/current_trigger

        chmod 660 /dev/iio:device0
        chmod 660 /sys/class/htc_sensorhub/sensor_hub/iio/buffer/enable
        chmod 660 /sys/class/htc_sensorhub/sensor_hub/iio/buffer/length
        chmod 660 /sys/class/htc_sensorhub/sensor_hub/iio/trigger/current_trigger

        chown system system /sys/class/htc_sensorhub/sensor_hub/enable
        chown system system /sys/class/htc_sensorhub/sensor_hub/delay_ms
        chown system system /sys/class/htc_sensorhub/sensor_hub/barometer_self_test
        chown system system /sys/class/htc_sensorhub/sensor_hub/AP_calibrator_data_accRL
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_en
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_status_acc
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_status_mag
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_status_gyro
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_data_acc
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_data_accRL
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_data_mag
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_data_gyro
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_data_light
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_data_proximity
        chown system system /sys/class/htc_sensorhub/sensor_hub/calibrator_data_barometer
        chown system system /sys/class/htc_sensorhub/sensor_hub/data_barometer
        chown system system /sys/class/htc_sensorhub/sensor_hub/data_proximity
        chown system system /sys/class/htc_sensorhub/sensor_hub/data_proximity_polling
        chown system system /sys/class/htc_sensorhub/sensor_hub/data_light_polling
        chown system system /sys/class/htc_sensorhub/sensor_hub/sensor_hub_rdata
        chown system system /sys/class/htc_sensorhub/sensor_hub/ps_canc
        chown system system /sys/class/htc_sensorhub/sensor_hub/data_light_kadc
        chown system system /sys/class/htc_sensorhub/sensor_hub/firmware_version
        chown system system /sys/class/htc_sensorhub/sensor_hub/uart_debug
        chown system system /sys/class/htc_sensorhub/sensor_hub/boot_mode
        chown system system /sys/class/htc_sensorhub/sensor_hub/ls_mechanism
        chown system system /sys/class/htc_sensorhub/sensor_hub/nvram_cali_data
        chown system gesture_motion /sys/class/htc_sensorhub/sensor_hub/gesture_motion
        chown system system /sys/class/htc_sensorhub/sensor_hub/mcu_wakeup
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/enable
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/delay_ms
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/barometer_self_test
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/AP_calibrator_data_accRL
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_en
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_status_acc
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_status_mag
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_status_gyro
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_data_acc
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_data_accRL
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_data_mag
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_data_gyro
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_data_light
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_data_proximity
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/calibrator_data_barometer
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/data_barometer
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/data_proximity
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/data_proximity_polling
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/data_light_polling
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/sensor_hub_rdata
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/ps_canc
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/data_light_kadc
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/firmware_version
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/uart_debug
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/boot_mode
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/ls_mechanism
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/nvram_cali_data
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/gesture_motion
        chmod 0664 /sys/class/htc_sensorhub/sensor_hub/mcu_wakeup

        # P-sensor
        chown radio radio /sys/class/optical_sensors/proximity/PhoneApp_status
        chmod 0660 /sys/class/optical_sensors/proximity/PhoneApp_status

        # LED
        chown system system /sys/class/leds/green/brightness
        chown system system /sys/class/leds/green/blink
        chown system system /sys/class/leds/green/off_timer
        chown system system /sys/class/leds/amber/brightness
        chown system system /sys/class/leds/amber/blink
        chown system system /sys/class/leds/amber/off_timer
        chown system system /sys/class/leds/indicator/ModeRGB
        chown system system /sys/class/leds/indicator/off_timer
        chown system system /sys/class/leds/amber/brightness
        chmod 0660 /sys/class/leds/amber/brightness
        chmod 0660 /sys/class/leds/amber/blink
        chmod 0660 /sys/class/leds/green/brightness
        chmod 0660 /sys/class/leds/green/blink

# HTC SSD Peripheral UI - END
