# Copyright (C) 2012 The Android Open Source Project
#
# USB configuration common for all android devices
#

#++ 2015.11.30 USB Team, PCN00026 ++
import init.htc.usb.rc
#-- 2015.11.30 USB Team, PCN00026 --

on post-fs-data
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

# Used to disable USB when switching states
on property:sys.usb.config=none
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    setprop sys.usb.state ${sys.usb.config}

# this is for M charge-only
on property:sys.usb.config=charged
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0f0b
    write /sys/class/android_usb/android0/functions charging
    write /sys/class/android_usb/android0/enable 1
#    write /sys/class/android_usb/android0/idVendor 0bb4
#    write /sys/class/android_usb/android0/idProduct 0ff9
#    write /sys/class/android_usb/android0/functions mass_storage
#    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# this is for M charge-only but USB debugging is on, we switch to adb
on property:sys.usb.config=charged,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0c81
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.disable=1
    setprop sys.usb.config none
    write /sys/devices/platform/android_usb/usb_cable_connect 0

on property:sys.usb.disable=0
    write /sys/devices/platform/android_usb/usb_cable_connect 1
    setprop sys.usb.config ${persist.sys.usb.config}

# adb only USB configuration
# This is the fallback configuration if the
# USB manager fails to set a standard configuration
on property:sys.usb.config=adb
#    write /sys/class/android_usb/android0/enable 0
#    write /sys/class/android_usb/android0/idVendor 18d1
#    write /sys/class/android_usb/android0/idProduct 4EE7
#    write /sys/class/android_usb/android0/functions ${sys.usb.config}
#    write /sys/class/android_usb/android0/enable 1
#    start adbd
#    setprop sys.usb.state ${sys.usb.config}
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0c81
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adboff
    stop adbd
    write /sys/class/android_usb/android0/f_adb/on 0
    setprop sys.usb.state ${sys.usb.config}

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config ${persist.sys.usb.config}

on property:persist.sys.usb.config=adb
      setprop sys.usb.config ${persist.sys.usb.config}

# make Android M compatible with L
on property:persist.sys.usb.config=adboff
      setprop persist.sys.usb.config charged

# For GEP, make Android M compatible with L
on property:persist.sys.usb.config=mtp,adb
    setprop persist.sys.usb.config charged,adb

# For GEP, make Android M compatible with L
on property:persist.sys.usb.config=mtp
    setprop persist.sys.usb.config charged

# For GEP, make Android M compatible with L
on property:persist.sys.usb.config=ptp,adb
    setprop persist.sys.usb.config charged,adb

# For GEP, make Android M compatible with L
on property:persist.sys.usb.config=ptp
    setprop persist.sys.usb.config charged

# support M HSM
on property:sys.usb.config=mtp,acm
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0f0d
    write /sys/class/android_usb/android0/functions mtp,acm
    write /sys/class/android_usb/android0/f_acm/port_index 5
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# support M HSM
on property:sys.usb.config=mtp,adb,acm
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0f0e
    write /sys/class/android_usb/android0/functions mtp,adb,acm
    write /sys/class/android_usb/android0/f_acm/port_index 5
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# support M HSM
on property:sys.usb.config=mtp,acm,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0f0e
    write /sys/class/android_usb/android0/functions mtp,adb,acm
    write /sys/class/android_usb/android0/f_acm/port_index 5
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

#`` HTC_IPT
# for USB IPT
service udhcpd0 /system/bin/logwrapper /system/bin/udhcpd
	disabled
	oneshot

service netsharing0_on /system/bin/netsharing net on
	disabled
	oneshot

service netsharing0_off /system/bin/netsharing net off
	disabled
	oneshot

service netsharing0_pass /system/bin/netsharing net_pass on
	disabled
	oneshot

on property:sys.usb.projector.enable=1
    write /sys/class/android_usb/f_projector/on 1

on property:sys.usb.projector.enable=0
    write /sys/class/android_usb/f_projector/on 0
