on boot
    # exfat
    insmod /system/lib/modules/texfat.ko

on fs
    # Load Mocana FIPS module
    insmod /system/lib/modules/moc_platform_mod.ko.kernel-3.10
    insmod /system/lib/modules/moc_crypto.ko.kernel-3.10
    insmod /system/lib/modules/moc_crypto_api_tmpl.ko.kernel-3.10

on property:sys.boot_completed=1
    start mocana-startup

service mocana-startup /system/bin/sh /system/etc/init.mocana.sh
    class late_start
    user root
    disabled
    oneshot
